<button mat-button (click)="updateBoard()">
  Next step
</button>
<button mat-button (click)="runBoard()">
  Run
</button>
<div style="color: white" *ngIf="board">
  <mat-grid-list cols="{{length}}" rowHeight="1:1">
    <div *ngFor="let colIndex of colIndexes">
      <div *ngFor="let rowIndex of rowIndexes">
        <mat-grid-tile
          class="grid__cell"
          [ngClass]="board.board[colIndex][rowIndex] ? 'alive' : 'dead'"
          (mouseover)="toggleCellStatus(colIndex, rowIndex)"
        >
        </mat-grid-tile>
      </div>
    </div>
  </mat-grid-list>
</div>
